html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #212d99;
  font-family: sans-serif;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.sound-icon {
  width: 30px;
  cursor: pointer;
  margin: 20px;

  &__stripe {
    opacity: 0;
  }

  &--muted {
    .sound-icon__stripe {
      opacity: 1;
    }
  }
}

.github {
  fill: #fff;
  position: relative;
  top: -16px;
  left: 21px;
}
